@{
    ViewData["Title"] = Localizer["Página de inicio"];
}

    <div class="text-center">
        <h1 class="display-4"> @Localizer["Bienvenido"] </h1>
        <p> @Localizer["Aprender"] <a href="https://docs.microsoft.com/aspnet/core"> @Localizer["a construir una Web apps con ASP.NET Core"]</a>.</p>
    </div>
